aniso8601
blinker
click
Flask
Flask-Cors
Flask-RESTful
flask-swagger-ui
gunicorn
itsdangerous
Jinja2
MarkupSafe
packaging
python-dotenv
pytz
PyYAML
six
Werkzeug
Flask-HTTPAuth
Flask-Session
flask-jwt-extended
